html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

/* ===== GUIAS TOPO ===== */
.top-tabs {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  background: rgba(255, 255, 255, 0.95);
  padding: 6px 14px;
  border-radius: 30px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 10px;
}

.top-tabs .tab {
  border: none;
  background: transparent;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #444;
}

.top-tabs .tab:hover {
  background: rgba(0, 0, 0, 0.05);
}

.top-tabs .active {
  background: #007bff;
  color: #fff;
}

.loc-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: #007bff;
  color: #fff;
  padding: 14px 18px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.coord-btn {
  position: fixed;
  bottom: 80px; /* acima do botão de localização */
  right: 20px;
  z-index: 1000;
  background: #28a745; /* verde pra diferenciar */
  color: #fff;
  padding: 14px 18px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.legend {
  position: fixed;
  bottom: 140px;
  right: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  font-size: 14px;
}

/* ===== MODAL ===== */
#modalExecucao {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  backdrop-filter: blur(5px);
}

#modalExecucao .box {
  background: #fff;
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
}

#modalExecucao input,
#modalExecucao textarea {
  width: 100%;
  margin-bottom: 10px;
}
